service: mxbean-info

frameworkVersion: ">=1.2.0 <2.0.0"

provider:
  name: aws
  runtime: java8
  stage: demo
  region: eu-central-1
  memorySize: 128
  timeout: 10
  deploymentBucket: dasniko.serverless.deployments.${self:provider.region}
  iamRoleStatements:
      - Effect: Allow
        Action:
          - sns:Publish
        Resource: "${file(sls-props.yml):dlq}"

package:
  artifact: target/mbean.jar

functions:
  info:
    handler: dasniko.lambda.MBeanHandler
    events:
      - schedule: cron(*/5 * * * ? *)
    onError: "${file(sls-props.yml):dlq}"
